/* You can add global styles to this file, and also import other style files */
:root{
    --naranja: #f7931e;
    --blanco: #FFFFFF;
    --black: #000000;  
}

*{
    
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--black);
    min-width: 100vw;
    min-height: 100vh;
}

.container{
    justify-items: center;
    align-content: center;
    height: 100vh;
    color: var(--blanco);
}

.tittle{
    padding-bottom: 20px;
}

.logo{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 35%;
    animation: up-and-down;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes up-and-down {
    0%{
        bottom: 0px;
    }
    50%{
        bottom:-30px;
    }
    100%{
        bottom:0px;
    }
}