

@font-face {
  font-family: 'Mono Bold';
  src: url('assets/fonts/Mono-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Variables globales para el manejo de la paleta de colores*/
:root {
  --azul-1: #25214E;
  --azul-2: #16132A;
  --blanco: #F2F2F2;
  --naranja: #F39200;
}

/* Estilos basicos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--azul-2);
  color: var(--blanco);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mono Bold', sans-serif;
}
